body {
 
    display: flex;
    width:50%;
    flex-direction: column;
    margin: auto;
    background: url("../image/fon.jpg");
    opacity: 0.9;
}

header {
    background-color: whitesmoke;
}

h1 {
    text-align: center;
    color:  #6910D5;
    padding-bottom: 30px;
}

h2 {
    margin: 20px;
}

main {
    text-align: left;
    background-color:whitesmoke;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

article {
    max-width: 45%;
    flex-basis:50%;
    text-align: center;
}

.detail {
    display: flex;
    font-size: 18px;
    flex-direction: column;
    text-align: left;

}

.registration {
    display: none;
    margin: 5px;
    border:1px solid black;
    padding: 10px;
    max-width: 50%;
    flex-basis: 45%;
    flex-wrap: wrap;
}


label {
    font-size: 18px;
    margin-bottom: 10px;
    flex-basis: 100%;
    font-style: italic;
}

label[for="search"] {
    flex-basis: 80%; 
}

label[for="name"]:after,
label[for="email"]:after,
label[for="phone"]:after,
label[for="pass"]:after,
label[for="url"]:after {
    content: ' *';
    color: red;
  }

input {
    margin-top: 10px;
}

input[type="submit"] {
    flex-basis: 45%;
    margin-right: auto;
}

input[type="reset"] {
    flex-basis: 45%;
}

input#image {
    width: 35px;
    height: 20px;
    border: 1px solid black;
}

input#name {
    width: 67%;
} 

input#birthday {
    width: 64%;
}

input#phone {
    width: 50%;
}

input#email {
    width: 74%;
}

input#pass {
    width: 78%;
}

input#search {
    width: 30%;
} 

.age {
    flex-basis: 70%;
    white-space: nowrap;
    display: flex;
    flex-direction: column;

}
.gender {
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
}

.age label,
.gender label {
    font-style: normal;
}

figure{
width: 100%;
text-align: center;
}

audio {
    width: 100%;
}


footer{
    color:#6910D5;
    font-size: 22px;
    text-align: center;
    background-color: whitesmoke;
}

